.DS_Store
*.user
*.autosave
*.pro.user
*.qmlc
*.jsc
build*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.apk
*.aab
*.ipa
.qmake.stash
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.log
.idea/
.vscode/
*.swp
*~
